*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';

}

body, input, button {
  font-size: 16px;
  font-family: 'Roboto';

  -webkit-font-smoothing: antialiased;
}